[2015-10-28 21:35] paul42 opened #4 "Am I using .businessAdd() wrong? or is this"
I was attempting to use your super handy library - but I think something went awry or I'm using it wrong -

here is what I have: https://gist.github.com/paul42/6f722a1523d0d5fec119

and I'd expect the output to increment the day, but it takes a step back actually:

output: https://gist.github.com/paul42/d87a11bc2db754326929
output (pasted):

Am I calling this wrong, or is the problem due to how I

[2015-10-28 22:57] paul42 commented on #4
I think the root of the issue is that inside .businessAdd, https://github.com/kalmecak/moment-business-days/blob/master/index.js#L63
this line:

increases the day, but does not check if advancing by a week counts holidays or not.
I'm going to start tinkering with a pull request, but let me know if I'm on the right path.

Thanks in advance,
Paul

[2015-10-29 15:37] kalmecak commented on #4
Hi Pau! I've been very bussy at work, please feel free to make pull requests and thanks for contributing

[2015-10-30 17:14] paul42 commented on #4
Hi @kalmecak,
I took a stab at it, I believe I have it working properly, but if you have a moment to take a look, I'd appreciate it!

Thanks in advance,
Paul

[2015-10-30 18:24] #4 closed

[2016-03-01 18:04] LeandroFavero opened #6 "Running in Browser"
Hi,

Your module is great! But could be run in browser. Well, I changed the source, including this in first line:

if (typeof window === 'undefined') {
    var moment = require('moment'); //http://momentjs.com/
}

So now, moment-business-days runs in NodeJS and Browser. What you think?

[2016-03-01 21:22] kalmecak commented on #6
That's great! thanks for contributing, please make a pull request, I'll merge it on master

[2016-03-03 13:49] LeandroFavero commented on #6
Done!

[2016-06-21 04:30] ianaya89 opened #8 "Security issue in moment version"
Hey, a [security issue](https://nodesecurity.io/advisories/55) (**Regular Expression Denial of Service**) was discovered in the version of moment that you are using (2.10.X).

This issue was already solved in [v2.11.2](https://github.com/moment/moment/issues/2947).

Did you consider to make the upgrade?

Thanks!

[2016-08-18 09:10] markbrown4 opened #10 "Deprecation warning"
Example usage:

[code]

[2016-10-07 16:22] moxious opened #11 "New release"
[code]

It appears there is still this vulnerability in the latest published version 0.0.10 available from npmjs.

Looks also like there's already been a PR merged to address this, but would you consider issuing a new release to address this?

[2016-10-19 14:18] mnapoli76 opened #13 "businessDiff does not consider holidays"
Hello everyone, I tried to use the businessDiff function but it seems that it's not considering holidays that have been specified in the locale... has anyone faced the same issue?

[2016-10-20 13:04] moxious opened #14 "Dynamic holidays?"
The documentation clearly states how to set holidays in the locale, but these are particular days of particular years.  Is there a recommended way to specify holidays dynamically by a function?   This would permit saying things for example like "Thanksgiving is the Second Thursday in November".   It's not going to work to specify the individual day for every year, past and future.

[2016-10-20 13:08] moxious commented on #14
Am I correct in assuming that this code here: https://github.com/kalmecak/moment-business-days/blob/master/index.js#L8  means that this is not possible?

[2016-11-04 20:14] jarednova commented on #13
@mnapoli76 me too! I copied-and-pasted the example exactly but no dice; same result as the normal `businessDiff` calculation

[2016-11-04 20:22] jarednova commented on #13
@mnapoli76 after digging in some more, there's nothing in the `businessDiff` method that considers holidays. I'm working on a PR right now to (hopefully) solve that

[2016-11-24 20:58] iguatemigarin opened #17 "businessDiff documentation"
Hi, thanks for the awesome tool.

I realized that there is no documentation on businessDiff method.
Would you mind if I write it?

Cheers

[2017-02-09 12:14] billforward-alex opened #22 "support for `moment-timezone`"
This library is hardcoded to `require('moment');` — this makes it hard to coexist with other plugins.

Better would be to expose an interface which lets the consumer supply a reference to `moment`.

Sorry for not making a pull request, but here's what I did on my side…

[code]

[2017-02-09 12:17] billforward-alex commented on #22
You can invoke like so:

[code]

[2017-02-12 13:20] hare1039 opened #23 "Client-side version for cdnjs?"
Hi,
I'm a member from cdnjs, and we receive a request to add this library.
https://github.com/cdnjs/cdnjs/issues/10228

As we can only host client-side libraries, will this library plan to release one in the future?

Thanks!

[2017-04-25 04:17] monski opened #24 "Help: Include Saturday in Business Day?"
Hi good day,

How can i include saturday in business day please? thanks

[2017-04-25 13:30] monski commented on #24
nvm.. i solved it now.. thanks

[2017-04-25 13:30] #24 closed

[2017-05-17 12:59] kpihus commented on #13
My last PR fixed that thing. Merged by now.

[2017-05-17 21:09] #10 closed

[2017-05-17 22:27] #6 closed

[2017-05-17 22:28] kalmecak commented on #8
Thanks, now updated.

[2017-05-17 22:28] #8 closed

[2017-05-17 22:29] kalmecak commented on #11
Sorry for the delay, now is solved.

[2017-05-17 22:29] #11 closed

[2017-05-17 22:30] kalmecak commented on #13
Sorry for the delay, it is solved in the new version, update the package please.

[2017-05-17 22:30] #13 closed

[2017-05-17 22:39] kalmecak commented on #14
I'll be working on it, if you want to contribute your PR will be welcome!

[2017-05-17 23:12] kalmecak commented on #17
Done! thx for you comment

[2017-05-17 23:12] #17 closed

[2017-05-17 23:26] kalmecak commented on #23
Hi, sorry for the delay, I have been so busy on work, yes, I'll work for support client side.

[2017-05-26 12:27] sdvg opened #29 "Add `moment` to dependencies again?"
At the moment this module can't be used in Node and the tests are broken, since the moment dependency is missing.

I saw that the dependency got moved to peerDependencies, but I think that can't work for this module because it actually `require`s moment.

<details>
 <summary>Node</summary>

[code]
</details>

<details>
<summary>Tests</summary>

[code]
</details>

[2017-07-27 16:32] thorakmedichi opened #32 "businessDiff only returning absolute value"
At the moment businessDiff only returns the absolute value rather than a relative value. This is an issue because if I am trying to use this in an if clause I am getting incorrect values.

if (startDate.businessDiff(moment()) <=3)  returns false if today is July 30 and the date I am comparing it too is June 15 because the value businessDiff gives is a positive number not a negative one.

[2017-09-07 23:13] samsonkeung opened #34 "businessDiff returns 1 when two dates are on the same day but few hours apart"
[code]

The behaviour should be consistent with the ```diff``` function in Moment.js where they return 0 as the result of ```earlierDate.diff(laterDate, "days")```

[2017-10-04 16:41] bfintal commented on #34
Encountered this too.

[2017-10-19 08:54] IvanRibakov commented on #23
Any news on the client-side support?

[2017-10-19 12:02] IvanRibakov commented on #23
Code from this PR (https://github.com/kalmecak/moment-business-days/pull/7/files) does the job, though it doesn't seem to be present in the latest version. Had to manually modify source code...

[2017-11-05 09:59] eyalhakim opened #35 "Inconsistency between add and subtract on Sunday"
Adding 2 business days from November 5th (Sunday) returns November 7th (Tuesday).
Subtracting 2 business days from November 7th (Tuesday) returns November 3rd (Friday)

[2017-11-22 18:11] nekdolan commented on #22
To me it seems this lib works with moment-timezone out of the box.

[2017-12-06 17:03] StephenOTT opened #36 "Support for Business Hours?"
Is there support for managing business hours as well?   Like a weekly schedule of M-F 9am to 5pm?

[2018-05-02 15:29] calin1611 commented on #34
I can confirm this. I ran into the same issue and used the approach suggested by @bfintal

[2018-06-15 12:14] mcdado commented on #35
That seems right to me. If you add one business day from a non business day, it shouldn’t skip two days. And the logic for subtracting seems right to me.

Take in consideration time along with date. You might want to use `.startOf(‘day’)`

[2018-07-04 10:48] yunus89 opened #42 "Help: Include Sunday in Business Day"
When using
`moment.locale('us', {
   workingWeekdays: [1,2,3,4,5,6,7]
});`

and check `moment('01-07-2018', 'MM-DD-YYYY').isBusinessDay()` always returns false yet is a working day in the configuration above.

Note: '01-07-2018' is a Sunday

How can one make `Sunday` a working day?

[2018-07-04 10:51] mcdado commented on #42
Sunday is 0.

[code]

[2018-07-04 10:57] yunus89 commented on #42
Oh, thanks, it now working as expected.

[2018-07-04 11:07] #42 closed

[2018-07-25 16:50] nfavaro opened #43 "Attempts to manipulate invalid moment objects result in infinite loops"
Attempts to manipulate invalid moment objects using `businessAdd()` result in infinite loops because invalid moment objects [behave like NaN in floating point operations](https://momentjs.com/docs/#/parsing/is-valid/).

Since moment still allows addition to an invalid moment object (resulting in a still invalid moment object), the condition `day.isBusinessDay()` never evaluates to true, thus `rema

[2018-07-25 17:58] kalmecak commented on #43
Thanks nfavaro, would be great if you can help me with a pull request.

[2018-07-25 20:59] #43 closed

[2018-08-16 13:54] oleg-koval commented on #34
have the same, will use the approach suggested by @bfintal

[2018-08-17 09:29] oleg-koval opened #46 "Fix typo in package.json keywords"
https://github.com/kalmecak/moment-business-days/blob/26330df28bc93837eb8468eb02f34f59892ed3a3/package.json#L20

[2018-08-17 09:33] oleg-koval commented on #32
@thorakmedichi Hi, are you still interested in this feature?

[2018-08-17 13:50] oleg-koval opened #48 "Add travis CI"

[2018-08-17 13:59] #46 closed

[2018-08-17 14:02] oleg-koval opened #50 "Fix dep vulnerabilities"
[code]

[2018-08-17 15:39] #50 closed

[2018-08-17 15:42] #34 closed

[2018-09-04 17:47] jolim24601 opened #52 "businessDiff should not take into account time of day"
Can this be fixed?

[2018-09-04 17:48] jolim24601 commented on #52
Example:

![image](https://user-images.githubusercontent.com/12823853/45048192-40bc8d00-b049-11e8-9e6e-5f89c0f02ff1.png)

[2018-09-04 17:54] jolim24601 commented on #52
Sorry the real issue here is that the behavior of `businessDiff` is not the same as `diff` in `moment` which does not add an extra day based on `time`. I think the more consistent behavior here would be to check only for the date and ignore the time.

[2018-09-04 17:57] mcdado commented on #52
See https://github.com/kalmecak/moment-business-days/pull/16

[2018-09-04 20:32] jolim24601 commented on #52
Thanks @mcdado, I changed the title to reflect the actual issue that I'm seeing.

[2018-09-04 20:34] #48 closed

[2018-09-05 10:58] mcdado commented on #52
Is it feasible for you to use `.startOf('day')` to reset moments to midnight and avoid the issue? Or you actually need to keep track of the time?

[2018-09-24 08:58] mcdado opened #53 "New release"
Hey @kalmecak, what do you think about making a new release on NPM? Those type definitions would come in handy 😉

[2018-10-25 18:55] nbkhope commented on #22
It would be nice if `moment` allowed for some plugin functionality that allows you to add more features instead of having separate libraries requiring moment.

[2018-11-04 10:19] lyleunderwood commented on #32
Just got caught out by this.

`businessDiff` should mirror the functionality of moment's `diff` which is [to return a negative number](https://momentjs.com/docs/#/displaying/difference/):

[2018-11-04 10:55] lyleunderwood commented on #32
You can try my fix for this by changing your `moment-business-days` dep in your `package.json` to look like this:

[code]

and then running `npm i` or `yarn` again.

[2018-11-06 18:04] avenue19 opened #55 "Fractional day causes infinite loop in businessAdd"
Run test that calls businessAdd with a fractional number of days:

      it('adds business days only, excluding weekends, handles fractional days without infinite loop ', function (done) {
        var newBusinessDay = moment('11-03-2015 12:42:00', 'MM-DD-YYYY hh-mm-ss').businessAdd(10.5);
        expect(newBusinessDay.format('D')).to.eql('17');
        done();
      });
$ npm test

   Moment Busin

[2018-11-07 16:28] mcdado commented on #53
@kalmecak if you cannot work on this, do you mind also allowing others to publish on npm? Changes to this repo turn out useless if not publishable. Also, while I appreciate the ability to push to this fork, maybe the best would be to move the repo if you're not active anymore? Let me know 😉

[2018-11-13 15:15] queejie opened #56 "Please include index.d.ts in npm package"
Thanks very much for this library!  Could you please update the npm package to include the index.d.ts file?  Each of us on our dev team can put it in manually, we have to remember to do it every time we update our npm modules. (We're using it with Angular/Typescript.)

[2018-11-13 15:19] mcdado commented on #56
Hi, thank you for your feedback! 😉

I hope that @kalmecak can push it out soon, it was enough of a big deal for me to look into declaration files and make a PR.

[2018-11-13 15:49] kalmecak commented on #56
Hi guys, actually I'm so busy in my job, can you help me with a pull request to integrate it to this library?
Thanks!

[2018-11-13 15:50] mcdado commented on #56
It's already merged… it just needs to be published to npm.
I can help with that if you grant me access to the package

[2018-11-13 16:34] kalmecak commented on #56
Thanks a lot guys, I just published a new version in npm (1.1.0) please let me know if it is ok

[2018-11-13 16:45] #53 closed

[2018-11-13 17:51] mcdado commented on #56
Actually testing out the new version I realized there were some problems with the previous declaration file, so I updated it. If you require `moment-business-days` **instead of** `moment`, the typings don't get picked up.

@queejie would you mind trying this and see if you have any problems? https://github.com/kalmecak/moment-business-days/pull/57

@kalmecak I'm sorry about this, if it's all good

[2018-11-13 18:50] kalmecak commented on #56
Thanks, the version 1.1.1 is now available on npm. Let me know if it's ok.

[2018-11-13 19:02] mcdado commented on #56
Thank you so much @kalmecak! It's working great now!

<img width="609" alt="screenshot 2018-11-13 at 19 52 09" src="https://user-images.githubusercontent.com/898057/48435870-b77ab280-e77d-11e8-9bc8-707c5ea4c564.png">

<img width="277" alt="screenshot 2018-11-13 at 20 01 47" src="https://user-images.githubusercontent.com/898057/48436453-f9582880-e77e-11e8-9358-2f696f8d728a.png">

<img width="555" a

[2018-11-13 19:06] queejie commented on #56
Sorry I didn't respond sooner, but I was away.  I didn't have any problems with the declarations.  Maybe because I'm using import in Angular?

[2018-11-13 19:09] mcdado commented on #56
Well, before there were no problems if you imported `moment` and `moment-business-days` separately. But if as suggested in the project README you import only `moment-business-days` instead of `moment`, then the declarations wouldn't work. Now it's all good though!

[2018-11-14 22:46] #56 closed

[2018-11-22 16:39] kalmecak commented on #55
Can you help us sending a Pull Request fixing this issue?

[2018-11-26 15:31] LeonardoVini opened #58 "workingWeekdays doesn't appears and Deprecation warning"
I'm trying to configure workingWeekdays but it doesn't appear for me to do that.

![image](https://user-images.githubusercontent.com/37921663/49023532-8dae8c00-f17e-11e8-85af-2e3ff70813bd.png)

![image](https://user-images.githubusercontent.com/37921663/49023827-378e1880-f17f-11e8-974f-2a42b1e1a61d.png)

And I'm receiving a deprecation warning:
"Deprecation warning: value provided is not in a reco

[2018-11-26 16:06] kalmecak commented on #58
Hi Leonardo!

This warning is fired by moment JS core because the standar format is *YYYY-MM-DD*, [that is in their docs](https://momentjs.com/docs/#/parsing/string/)

So you can indicate moment the format you are using:

[code]

[2018-11-27 16:14] LeonardoVini commented on #58
Hi, kalmecak!

Thank for your answer but why workingWeekdays doesn't appear to me?

[2018-11-27 17:36] mcdado commented on #58
@LeonardoVini I fixed it in https://github.com/kalmecak/moment-business-days/commit/025c102b5a127f21578de6a93ba26d36dde91b88
It didn't show up in IntelliSense but it would work if you used it in your code.

@kalmecak it's a trivial change but it can be published. I had already improved the definitions file in other ways since last npm publish. If you need any help with publishing you can give me p

[2018-11-27 17:45] LeonardoVini commented on #58
Thank you men

[2018-11-28 21:54] avenue19 commented on #55
I sent a pull request...hope I did it right ;)

On Thu, Nov 22, 2018 at 10:39 AM christian <notifications@github.com> wrote:

[2018-12-04 20:09] #55 closed

[2018-12-09 17:53] fishcharlie commented on #14
@kalmecak Any updates on this?

[2018-12-09 17:53] fishcharlie commented on #23
@kalmecak Any updates on this?

[2018-12-10 00:19] mcdado commented on #23
What would make this library compatible with the browser? I'm asking because I've only used it in Node.

The PR that @IvanRibakov mentions is now merged and improved upon with Webpack compatibility added in 1.0.4. Does it mean that we're already good, @hare1039 ?

[2018-12-10 00:35] mcdado commented on #14
@fishcharlie it should be implemented… check the test called "Moment Business Days" > ".isBusinessDay" > "When today is a holiday determined by a function".

If you consider it solved, can you let me know so I close this issue? Thanks!

[2018-12-11 11:34] mcdado commented on #58
I checked [npm's docs page](https://docs.npmjs.com/adding-collaborators-to-private-packages-owned-by-a-user-account) and we would both need to have paid accounts. In that case it's okay, you can keep publishing on your own 😄

[2018-12-11 11:34] #58 closed

[2018-12-11 12:09] mcdado commented on #52
Maybe a parameter could be added to diff, just like Moment. See [moment.diff()](https://github.com/moment/moment/blob/2e2a5b35439665d4b0200143d808a7c26d6cd30f/src/lib/moment/diff.js
)

[2018-12-11 12:17] mcdado commented on #29
I've re-added it to the devDependencies a while back, is that sufficient?

[2018-12-11 12:19] sdvg commented on #29
I think it is 🙂👍

[2018-12-11 12:19] #29 closed

[2018-12-15 18:10] hare1039 commented on #23
@mcdado Thanks for telling me.

[2018-12-15 18:10] #23 closed

[2019-01-17 10:55] marwahaha opened #61 "incompatibility with newer moment versions?"
1. is this ticket still relevant? https://github.com/moment/moment/issues/4236
2. if so, can it be fixed from the plugin side?

[2019-01-17 12:00] mcdado commented on #61
Personally I don't use other plugins so I didn't run into this issue.
What is the "blessed" way of making sure a plugin module should behave? Should moment-business-day accept a moment object as parameter and modify it? Or should it consider it a peer dependency and expect to `require()` it?

[2019-01-20 22:05] marwahaha commented on #61
I'm not 100% sure. @ichernev may know.

[2019-01-27 19:09] Evilu opened #62 "return which work day it is."
I would be really happy if you'll add a function that returns which buisness day is entered.
it is crucial for Statistics.

For example 2019-01-10 will return the number 9.

[2019-02-06 11:59] tommyalvarez commented on #32
+1 to This. @kalmecak can you implement the fix to mirror what moment does?

[2019-02-06 12:02] mcdado commented on #32
Shall we bump the minor version or jump to next major?

[2019-02-07 17:36] tommyalvarez commented on #32
@lyleunderwood If i use your repo my npm install in production server hangs like 200 seconds in `loadIdealTree:loadAllDepsIntoIdealTree: sill install loa`

Do you know what could that be?

[2019-02-07 17:40] lyleunderwood commented on #32
@tommyalvarez Not really, but [this issue looks relevant](https://github.com/npm/npm/issues/17228).

I'm gonna update my PR to try and get this into a version.

[2019-02-07 17:46] mcdado commented on #32
@tommyalvarez that belongs to a different issue, anyway I'll change the repo url from ssh to https

[2019-02-11 11:36] oleg-koval commented on #62
@Evilu
nice idea, but can you please explain how 2019-01-10 should return 9? Why not 7? As 1st of January isn't a business day, you have 2,3,4,7,8,9,10

[2019-02-11 11:47] mcdado commented on #62
Well, it all depends on locale settings…

Regarding the feature, if on non-business day like 2019-01-10 (which is a Sunday, if Sundays are non business days in the locale setting, of course) should it count 1 up or one 1 down?

[2019-02-11 11:49] mcdado commented on #62
1 down is basically saying the amount of business days before the date, 1 up is considering the day itself as an extra day… I might be wrong but the latter might be more consistent

[2019-02-11 12:28] oleg-koval commented on #62
Also, should it be like a total count of business days or per month?

f.e.:

January 10, 2019, is 9 days
What about June 10 2019, should it be counted from 1 of June or 1 of January?

[2019-02-14 20:42] thorakmedichi commented on #32
I found a work around and the project I was working is now shipped. So at this time I am fine.

[2019-02-25 22:33] Asalem1 commented on #52
@mcdado is there any progress on this? The logic is currently incrementing for each day regardless of when a day has passed (similar to the `startOf('day')` example you listed above), but this is inconsistent with the functionality of `moment.diff`.

For example, using `moment.diff()` when two days are 23 hours apart will register as `0` on `moment.diff()`. However, using `businessDiff()` with the

[2019-03-25 14:57] sgarcia30 commented on #14
Was this resolved?  If so, what's the solution?  I tried reading through the `index.js` file to see if I could see code that might account for a dynamic holiday, but I don't see it.

[2019-03-28 13:57] nawressissa commented on #14
Hello ,any updates on this, i need to add two format holiday
 momentbusiness.updateLocale('fr', {
            holidays: ['01-01', '05-01', '05-08', '05-30', '07-14', '08-15',
             '11-01', '11-11', '12-25', '04-22-2019' , '06-10-2019'],
            holidayFormat: 'MM-DD-YYYY', 'MM-DD'
        });

[2019-04-02 08:23] mcdado commented on #14
@sgarcia30 @nawressissa It is not exactly documented, but when you update your locale like [shown on the README](https://github.com/kalmecak/moment-business-days#use-localization-to-configure-holidays), you can specify a `holiday` property which is a function that returns a boolean, returning true makes it an holiday:

[code]

I am aware that this means coding all dynamic holidays, which is a bit

[2019-04-02 08:23] #14 closed

[2019-04-09 21:43] robclancy commented on #32
I love running into an issue and then finding is was reported  2 years earlier, with a PR from half a year earlier that fixes the issue all open and ignored by the person who maintained the package.

Has anyone forked this project? there was a release after this PR was submitted and the package so indicates the package owner is only interested in changing/fixing things that effect him directly.

[2019-04-10 11:11] mcdado commented on #32
While I'm not the package owner, I always contributed to this package because forking the project on such a niche functionality gives no upside to anybody. That being said it it true that this feature was ready for merging, I'll bump it to @kalmecak

[2019-04-10 21:09] richarddavenport opened #67 "Previous Business Day limited to only the last 7 days"
I setup a (most likely improbable situation, but you never know ¯\_(ツ)_/¯) scenario.
Today is the 10th, the 5th-9th are holidays, Monday is the only working day.
[code]
jsbin: https://jsbin.com/vafaseriti/edit?js,console

Possible solution:
[code]
[code]

Open to PR's?

[2019-04-11 00:04] mcdado commented on #67
Thanks for reporting! Wow I've never seen this!
I'm trying to figure it out by looking at code that's untouched since the first commit b9b836a050905d38ae171e2839d6bfbaa9e3aeb6 and remember that I started contributing only some time ago.

[2019-04-11 00:13] mcdado commented on #67
I've created https://github.com/kalmecak/moment-business-days/pull/68 but I'm not sure of implications. Basically I've added a hard limit of 1 year (366 days, considering leap years too) to avoid infinite loops in the imaginary case where all days that are working days (say Mondays) are also holidays. Is this an acceptable compromise?

[2019-04-11 00:21] mcdado commented on #67
I've actually not read your suggested solution. Yes it could work with a parameter, in which case should have the same name for both `nextBusinessDay` and `prevBusinessDay`, something `businessDayLimit`, defaulting to either 7 or 31 or 366.

[2019-04-11 01:55] richarddavenport commented on #67
We do have a use case for this on a project I'm working on. Here's what I have so far: https://github.com/richarddavenport/moment-business-days

[2019-04-11 12:23] richarddavenport commented on #67
@mcdado I know that there is a WIP PR, but I went ahead and submitted my code changes for review. Let me know if you need any additional input/help. In #69 one of the tests are failing, but I believe it is due to my lack of understanding on how to reset the locale in mocha.

[2019-04-11 12:37] mcdado commented on #67
@richarddavenport That's good! I actually like your approach better!

To fix the test probably you need to reset this module's custom properties in the `updateLocale` call:

[code]

[2019-04-11 15:39] richarddavenport commented on #67
@mcdado Does the version need to change for me to pull it in to my project?

[2019-04-11 21:04] mcdado commented on #67
I think until @kalmecak publishes a new version you can put `kalmecak/moment-business-days` in your package.json file: https://docs.npmjs.com/files/package.json#github-urls

This should pull in the latest version, but i don't know for sure.

[2019-04-12 07:51] rognales commented on #22
I +1 this!

[2019-04-12 07:52] rognales commented on #22
How did you make it work?

[2019-04-17 15:14] #32 closed

[2019-04-22 13:22] PeterKruzlics opened #70 "Creating a v1.2.0 release"
Hello, I see there's a v1.2.0 commit, would we be able to get a new release published to npm? Thanks!

[2019-04-23 22:21] sam26880 opened #71 "adding 2 weeks doesn't take business days into account?"
I have this code which returns 5/7/2019 when adding 2 weeks to today's date which is 4/23/2019
I have set the setting that says that Thursday is NOT a working day. So it should be skipping Thursday as well as weekend in this calculation. Am I correct?

Here's the code I have
`this.task.FollowupDate = moment().businessAdd(2, 'weeks').format('MM/DD/YYYY');`

it does seem to work correctly when I add

[2019-04-27 21:10] mcdado commented on #71
Yeah… you're onto something: https://github.com/kalmecak/moment-business-days/blob/accaa23c28229d3ba6a2627a8eb30a364280d4ee/index.js#L95

At the moment this is how the plugin works: it adds takes 2 weeks, it iterates adding or subtracting one week (depending on which method is called), depleting the week counter only if the resulting day is a business day. This is a logic that works with days, but

[2019-07-01 10:13] laxu opened #72 "Possible issue with toISOString in v.1.1.3"
With moment-business-days 1.1.2 the following works as expected:

`moment(date).businessAdd(1, 'days').toISOString();`

The result is date + 1 day, e.g. `2019-01-03T12:00:00.000Z` to `2019-01-04T12:00:00.000Z`.

But with moment-business-days 1.1.3 I instead get `2019-01-03T22:00:00.000Z` with the same date. So the time advances by +10 hours instead of the day.

[2019-07-01 10:33] mcdado commented on #72
Hmm, can you provide more specifically what `date` is? If it has also time information or just date. That would be useful to setup a test case.

[2019-07-01 11:01] laxu commented on #72
I used the value mentioned, so `date` in this case is string `2019-01-03T12:00:00.000Z`.

[2019-07-01 12:31] mcdado commented on #72
So, as it happens it was fixed in 6d2f1f502f4528912fd09caf895dc5f2a22588af which is the commit right after `1.1.3` release. The problem is that 1.1.4 hasn't been released yet. I'll bump it with @kalmecak

[2019-07-01 12:31] #72 closed

[2019-07-01 12:39] mcdado commented on #70
@kalmecak I already drafted the release on GitHub, if you don't mind could you save it and then publish to npm as well? Thanks

[2019-07-01 12:40] mcdado commented on #67
Closed with #68.

[2019-07-01 12:40] #67 closed

[2019-07-01 12:41] mcdado commented on #72
I think until @kalmecak publishes a new version you can put kalmecak/moment-business-days in your package.json file: https://docs.npmjs.com/files/package.json#github-urls

This should pull in the latest version, but i don't know for sure.

[2019-07-11 18:44] Lobato-Orange commented on #70
Yes please.... Do this.

[2019-08-14 13:01] anton6 opened #74 "Does businessDiff treat Sat and Sun as if it's Monday?"
I want to show some records to the user if businessDiff is <= 2 days

It works fine if current date is Monday and Tuesday, but for Wednesday I got a surprising result.

If I have some records with timestamp Saturday and Sunday and today is Wednesday it shows business diff as 2 days (same as if the records are from Monday).

I was expecting that the difference between Saturday/Sunday and Wednesday

[2019-08-15 10:34] mcdado commented on #74
Can you share your setup? Specifically when you run updateLocale to set business days and any other possibile holiday. Can you also please share the piece of code you use to calculate the diff? That would be very helpful to diagnose the issue. :)

[2019-08-15 12:56] anton6 commented on #74
Thanks for quick response. Really appreciate you time with this package.

These are my dependencies:

"moment": "^2.22.2",
"moment-business-days": "^1.1.3",

I am actually not running updateLocale at all, as I only care about Saturday and Sunday as this stage. I presumed that for Saturday and Sunday I won't need to do this step. Or do I?

So I am only doing something like this to recreate the issu

[2019-08-23 05:34] dshastry opened #75 "RequireJS / AMD Support"
Thanks for writing a great plugin that's been super helpful so far. One issue I just ran into is that the plugin does not work when used in a require JS / AMD environment.  Below is the require block in require_config:

`define('moment',['moment/2.24.0/moment.min', 'moment/plugins/business-days/plugin'],function (moment) {
    window.moment = moment;
    return moment;
});`

I get a moment is not

[2019-08-30 09:27] mcdado commented on #74
So the negative value is expected since the change in https://github.com/kalmecak/moment-business-days/pull/54

The way businessDiff works is that it counts the working days between two dates. So if you have a date on Wednesday and a date on Sunday, you would count 2 because you have two working days between: Tuesday and Monday. Same for Saturday, the working days are between these days are 2.

In

[2019-08-30 09:28] #74 closed

[2019-08-30 09:33] mcdado commented on #75
Is there any resource on how to develop a proper module, especially a `moment` plugin? This plugin was developed by @kalmecak a while ago i think, back then there weren't well defined formats I think. On a personal level I would be quite interested in this specification

[2019-09-06 05:41] zelongc commented on #52
I found the similar problem in `businessAdd` function, and I resolved this **taking current day into consideration** problem by removing time before the date using `businessAdd`,

[code]

hope this may help those who met the same problem.

[2019-09-10 10:23] mcdado commented on #52
Thanks @zelongc, it's the same logic of adding `.startOf('day')` before `.businessAdd()`. Indeed I hope it helps onlookers.

[2019-10-18 13:01] FatimahSanni opened #78 "Get business weeks between two dates"
Currently, the monthBusinessWeeks only retrieves business weeks within the specified month. It will be nice to be able to specify an end date.

[2019-10-18 13:03] #78 closed

[2019-10-21 07:28] zeckdude commented on #22
Any examples on how to make this work with ES6 import syntax?

[2019-10-22 10:06] waldyrious opened #80 "Support businessAdd with fractional units"
Previously `businessAdd()` used to go into an infinite loop if a fractional value was passed, e.g. `businessAdd(1.5, 'days')`. That was reported as #55 and fixed in #59.

However, the fix done in #59 simply rounds the passed values, which may not be desired: `businessAdd(1.5, 'days')` silently becomes `businessAdd(2, 'days')`, which is probably not the expected result and could cause subtle bugs.

[2019-11-02 10:18] rotimi-best opened #81 "businessAdd() return wrong value"
## Case 1
If today is Friday and I add 1 day it gives me Sunday. Shouldn't it be Monday if Sunday and Saturday are not business days.

[code]

## Case 2
If today is Saturday and I add 2 days I expect it to skip sunday. Meaning I should get Tuesday but instead I get Monday.

[code]

Please let me know what you think about the following cases.

[2019-11-03 12:08] mcdado commented on #81
**Case 1** has to do with timezone. The internal date is represented as UTC, that's why it is the day before at 22:00 (10pm). I assume you're 2 hours after UTC where you are. If you are logging in the following way you get the "right" date:

[code]

Of course you can use _d.toTimeString() or _d.toDateString() to get the representation you want. Anyway `2019-11-03T22:00:00.000Z` that you got is til

[2019-11-03 12:08] #81 closed

[2019-11-04 12:23] mcdado commented on #80
I would say even minutes... i mean, when considering calculations on business days, with timezones, DST, etc, I would say that minutes is a good line in the sand. Maybe there are gonna be uses cases where seconds might be useful, that sounds a bit overkill for this plugin...

As to the most appropriate procedure... I would say first convert the period to minutes, then add, finally if the result is

[2020-01-24 08:09] AntonyDamico opened #82 "How to get business days"
I modified the locale to add holidays but now I need to know how many I added in another part that, is there a way to get them from the moment object? I know I could just use the holidays variable, but I want to use the moment object.

[code]

[2020-01-29 21:55] ebui91 commented on #82
Hi @AntonyDamico, have you tried using moment.localeDate()._holidays? You might need to replace moment with whatever you're importing moment-business-days as.

On a sort of related note, I am needing to configure holidays as well and was wondering how you're accounting for holidays in which the date may change from year to year? For example, MLK was on the January 20th this year but January 21st l

[2020-01-30 09:25] AntonyDamico commented on #82
@ebui91, I actually figured out and added it as a new method, but thanks anyway.

On your question, The backend devs made a used a holidays API  and saved a buch of years in the db,  I think [This is the API](https://holidayapi.com/docs).

[2020-02-15 03:22] khasburrahman commented on #22
Does it count business day correctly when using moment-timezone?
I mean the start of saturday and sunday are different in each timezone right in UTC time?

[2020-02-21 16:11] spearmootz opened #83 "Typescript error"
Typescript 3.7.3

This expression is not callable.
  Type 'typeof import("/Users/speared/dev/smartScan/node_modules/moment/moment.d.ts")' has no call signatures.ts(2349)
index.d.ts(1, 1): Type originates at this import. A namespace-style import

[2020-03-11 01:33] FabriceReynolds opened #84 ".monthBusinessWeeks subtract holidays"
When adding holidays such as from the documentation I would like to use the .monthBusinessWeeks  api and receive an array of weeks minus the holidays so that I have true representation of what days of the month are working business days grouped by week. The current results gets all week days of a month grouped by week whether they are holidays or not.

    var moment = require('moment-business-day

[2020-03-12 11:05] etienneret commented on #83
Typescript Version 3.8.2
Same issue here,
----------------
  node_modules/moment-business-days/index.d.ts:1:1
    1 import * as moment from 'moment';
[code]

[2020-04-16 22:03] #35 closed

[2020-05-05 13:46] Nicolas-Menettrier commented on #82
Hello, I'm in the exactly same issue as @AntonyDamico, can you share your solution if you still have it please ?

[2020-05-05 14:01] Nicolas-Menettrier commented on #82
It was just the format don't mind me!

[2020-05-05 14:02] AntonyDamico commented on #82
@Nicolas-Menettrier sure, as @ebui91 said I used localeData()._holidays. I just went to the source code ant the end and added these lines

[code]

And then you can just use getHolidays () as a function.

[2020-05-05 14:02] AntonyDamico commented on #82
Oh ok, good then!

[2020-06-18 20:58] xinthose opened #85 "allowSyntheticDefaultImports flag"
Code: `import * as moment from "moment-business-days";`

**Visual Studio Code Error**

- `ng --verseion`
[code]
- `npm moment-business-days --version`
`6.14.4`

[2020-07-02 16:26] ntoombs19 commented on #75
You can just add a shim to your requirejs config. This solution assumes you already have momentjs added as an AMD module. If you don't you'll need to add a path for it to your requirejs config.

[code]

[2020-07-21 08:14] baermathias opened #86 "businessAdd doesn't work correctly all the time"
The aim of this application is always to indicate the 16th business day of each month (means taking into account working days and public holidays). Some of the dates are correct and some are not, here is my actual result and what is the target if the dates were calculates correctly:

[code]
 This is the code I use ([it is also available as jsfiddle](https://jsfiddle.net/saitam/9ugq32xt/21/)):

[co

[2020-07-21 09:06] mcdado commented on #86
At a quick glance I'm guessing this has to do with months starting on a weekend or holiday. The counting should start from the first working day, right? For example in June 2020 should be on the 4th, then continue 5th, 8th and so on... i would need to step through a debugger but I suspect the first step is also counted.

[2020-07-22 06:37] baermathias commented on #86
Correct, it should start counting from the 4th in the June example. I have visualized the days:

The red marked days are holidays and the pink marked day should be the 16th business day of June, which is the 26th June taking in account the given holidays.

<img width="280" alt="Unbenannt" src="https://user-images.githubusercontent.com/45003352/88142428-c887f200-cbf5-11ea-96ab-d70e658a9b2d.PNG">

I

[2020-07-29 07:34] baermathias commented on #86
@mcdado Could you already find out what causes this issue?

[2020-08-25 12:33] dadiyanidhi commented on #86
I created a demo [sandbox](https://codesandbox.io/s/moment-business-days-demo-iv3xz?file=/src/App.js)  for my case the june's date is coming wrong. rest works fine. Although i know why it happened as i added 15 businessdays instead of 16.

[2020-09-08 07:40] baermathias commented on #86
The reason the code wouldn't work for all months is probably that the first day of the month is counted as a business day by default!
This is a tricky thing and should be mentioned in the docs, so developers can handle it e.g. like this:
`var daysToAdd = (startDate.isBusinessDay()) ? 15 : 16`
Or it should work differently by default. What do you think?

[2020-09-25 09:07] komarovalexander commented on #34
Thanks for the solution but I think it is better to do it with startOf
[code]

[2020-10-10 02:28] #52 closed

[2020-10-10 02:42] mcdado commented on #86
Sorry for answering only now.
Could you please specify a runnable test with expected results? So it is clearer what should happen and what actually happens, and solve the problem.

[2020-12-15 23:40] dguo commented on #70
I think this issue can be closed. I see v1.2.0 on npm (published on April 16, 2020).

[2020-12-16 14:42] #70 closed

[2021-01-31 13:02] adummy832 opened #88 "monthBusinessWeeks() still returning user defined holidays"
The title says it all and I think user defined holidays shoudn't be included on "monthBusinessWeeks"

**Snippet**
[code]

**Tools**
* moment.js: 2.29.1
* moment-business-days: 1.2.0

[2021-02-18 10:57] epaillous opened #89 "Wrong calculation of businessDiff ?"
Hi ! First of all thank you for this awesome library :) I was happy to discover I would not have to reimplement everything about business days for my project :)

I am trying to show the difference in working days between two dates: startDate and endDate.
Let's say startDate is 2021-02-15 (monday), and endDate is 2021-02-20 (saturday)

Actual behaviour is :
endDate.businessDiff(startDate) => 5

Exp

[2021-02-18 11:42] mcdado commented on #89
Hello, I'm not the maintainer but I contributed quite a bit to this project.

It's an interesting question, because answering would depend on whom you ask!

In my company's use case, we don't use businessDiff, we mainly use businessAdd to calculate "when it this order expected to be ready?". In that use case, if I say add 5 days and the fifth day is a Saturday, I expect to receive the next Monday

[2021-02-18 18:11] epaillous commented on #89
To give some context about my usecase :
I am doing a form to allow product managers to know:
- giving a number of working days, the end date of a project
- giving a deadline for the end date, the number of working days that should be added to the planning of developers

So, there are 3 inputs on my form :
- startDate
- endDate
- duration in working days

When I change the duration, the end date sh

[2021-02-22 21:20] #89 closed

[2021-02-22 21:27] mcdado commented on #89
Good evening @epaillous

You were right: when the latter date is on a non-business day, `businessDiff()` would count up one more day.

Regarding your use case, I think you simply need to add 1 to the result of `businessDiff()` because it doesn't count the first day, and it never did, but does count the end date.

@kalmecak I think you can release this change. It is breaking an expectation, but a b

[2021-02-22 21:54] mcdado commented on #89
In the meantime you can test it out by using a github url as a dependency: https://docs.npmjs.com/cli/v7/configuring-npm/package-json#github-urls

[2021-02-26 15:05] mcdado commented on #88
Hello, I created https://github.com/kalmecak/moment-business-days/pull/91 to address this issue.

Can you tell me if this is behavior that you'd expect?

[2021-03-05 08:50] ZoranderTheRealOne opened #92 "Extra bussnes day in a week"
Hi

depend on locale i have 5 (work day)+ 2 (holiday) extra holiday i add via
var days = [day, day ...]
moment.updateLocale('ru', {holidays: days, holidayFormat: 'MM.DD.YYYY'});

But some week in a month have 6 + 1(holiday), so is it possible add extra work day for certain day?

[2021-03-05 13:42] mcdado commented on #92
If I understand correctly you want to define custom business days just like you specify custom holidays.

Right now I don't think it's possible, without specifying always 6 business days and then for the remaining 11 months specify custom holidays for the weekend. I know, it sucks but it is what works right now.

[2021-03-05 14:06] ZoranderTheRealOne commented on #92
Yes you right.
I little bit drill source and find out it :( So work should be done and i modified one function similar functionality isHoliday.
`moment.fn.isBusinessDay = function () {
  var locale = this.localeData();
  var defaultWorkingWeekdays = [1, 2, 3, 4, 5];
  var workingWeekdays = locale._workingWeekdays || defaultWorkingWeekdays;
  if (locale._businessdays) {
    if (locale._businessdays

[2021-03-06 06:11] ZoranderTheRealOne commented on #88
If i right understand that function, it should return array of weeks of array of working days. So for example in my location in january
![офт2021](https://user-images.githubusercontent.com/6240390/110197272-8a290580-7e5b-11eb-8719-61f0a46e94d6.JPG)
Red days are holiday. I change a little getBusinessWeeks function  ```
 while (!done) {
    /*if (day.day() >= 1 && day.day() < 6)*/ if (day.isBusiness

[2021-03-06 11:13] mcdado commented on #88
Yes, that's the change I made, see here: https://github.com/kalmecak/moment-business-days/pull/91/files#diff-e727e4bdf3657fd1d798edcd6b099d6e092f8573cba266154583a746bba0f346L207

The question is: do you want also empty weeks or not? What do you think makes more sense?

[2021-03-06 13:52] ZoranderTheRealOne commented on #88
For me empty array is very informative. It gives number of weeks and if array empty it is mean that whole week is holidays. In my country ussualy first week of january is holliday.

[2021-03-06 17:24] ZoranderTheRealOne commented on #88
HI, play a little bit with function and i have a extra empty week at the end of array. I changed condition for adding last week
[code]

[2021-03-29 02:01] bdinos opened #93 "Wrong businessDiff result on a specific case"
[code]
Result is 2 instead of 1.

Is this a bug or have I misunderstood how `businessDiff()` works?

[2021-03-31 09:56] #88 closed

[2021-03-31 10:09] mcdado commented on #93
It was fixed in 052a4a7c1413e7418e42b4d931857abc3903c2b1 but it hasn't been released yet. I'll ping @kalmecak

[2021-03-31 13:15] #92 closed

[2021-03-31 22:03] bdinos commented on #93
Confirmed. It works on latest code.

[2021-04-06 11:09] #93 closed

[2021-04-13 18:44] mattm opened #95 "businessDiff not working as expected"
In the following code, April 5th (a Monday) is the start date and we're measuring business days to several dates later that week:

[code]

All of these return 4, but I would expect them to return 5 because Monday through Friday are business days.

Thanks for this plugin, it's fantastic, just having trouble wrapping my head around this behavior.

[2021-04-17 14:12] mcdado commented on #95
Imagine the difference between today (an imaginary working Monday) and tomorrow (Tuesday). What should be the difference? 1 or 2?

In this case businessDiff is the *difference* between dates, and in that sense it doesn't include the starting date. Also, since this plugin discards hours, it only considers days as a whole. If you wanted to consider the hour or simply always count the first day, I wo

[2021-04-21 13:09] Dr1Ku commented on #95
Also see the [relevant test here](https://github.com/kalmecak/moment-business-days/blob/master/tests/test.js#L315), what tripped me up was a `businessDiff` between an imaginary non-working Saturday/Sunday and an also-imaginary working Friday was `4` and _not_ `5`, as David mentioned.

Also be sure to check your `moment`'s `locale` (although you can rely on [sensible defaults](https://github.com/ka

[2021-04-25 15:19] #95 closed

[2021-07-26 16:07] lcaouen opened #96 "wrong businessDiff calculation when the date is not a businessday"
When using businessDiff with bank holidays, if the date is not a businessDay (is a bank holiday or weed en day), there is one extra day added wrongly.
For instance, the difference between 24/07/2021 and 20/07/2021 is wrong. It should be 2 instead of 3.
Same problem if the date is a bank holiday (in my case I added 22/07/2021 as a bank holiday), the difference between 22/07/2021 and 20/07/2021 shou

[2021-08-01 07:53] mcdado commented on #96
I just added your tests, and the results are correct.

Probably what happened is that the fix is already in master but not in the released version.
@kalmecak if you could push a new release out it would be nice.

@lcaouen as an interim alternative, in your package.json file you could reference the Github url [like indicated in npm's docs](https://docs.npmjs.com/cli/v7/configuring-npm/package-json#

[2021-08-01 07:53] #96 closed

[2021-08-02 18:24] eric-gonzalez-tfs opened #97 "businessDaysIntoMonth has unexpected behavior"
Hello all,

I am trying to use this library specifically for `businessDaysIntoMonth()` but I cannot seem to get it to work.

I can confirm the date used in the [`tests/test.js`](https://github.com/kalmecak/moment-business-days/blob/master/tests/test.js#L168) works with my environment. However, when I change it to another date or the current `moment` the function does not return the appropriate val

[2021-08-02 18:51] mcdado commented on #97
Thanks for reporting. It's a function that I personally never used and that it was added long before I began looking at the project. I think function is poorly named and documented even worse! This function returns the amount of days since the beginning of the month. I'll correct the documentation and I'm glad that you found a workaround.

[2021-08-02 20:09] #97 closed

[2021-08-02 20:13] mcdado commented on #97
Thanks again for bringing this up. Turns out that the function was incredibly buggy! If a month started on a non-business day, it would return the previous month! I corrected it and added more tests.

[2021-10-09 19:49] MMajeed opened #98 "Library not correctly accounting for holiday"
I have been having a difficult time getting the library to account for holidays. No mater what I try, isHoliday() never returns true when it should. I have created a sample test below to demonstrate the problem. For me, this test fails when it should pass.

[code]

[2021-10-09 19:51] #98 closed

[2021-10-24 04:32] GaborTorma opened #99 "Release for NPM"
Please create a new release for NPM with forcedBusinessDays support.
NPM has an old, 2 years version.
Thanx!

[2021-11-19 12:48] GaborTorma commented on #99
Please create a new release.

[2021-11-19 13:53] mcdado commented on #99
@kalmecak if you want I can help you setup GitHub Actions so that when we create a release on here, a new release is published to npm. I've had some experience in this regard so it wouldn't require you much ongoing work if at all.

[2021-11-19 16:16] kalmecak commented on #99
It would be nice, how can we do that?

[2021-11-22 10:06] mcdado commented on #99
There's an official guide on GitHub: [Publishing Node.js packages](https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages)

I did it for another package that I publish, first you need to add a NPM Token as a **Repository secret** in the **Repository Settings**:
<img width="1117" alt="Screenshot 2021-11-22 at 11 03 52" src="https://user-images.githubusercontent.com/898057

[2022-01-07 02:04] hophoppoppop opened #100 "Deprecation warning when use moment.updateLocale"
I got this deprecation warning when trying to use `moment.updateLocale` is there any fix for this?

![image](https://user-images.githubusercontent.com/14010811/148479445-db5afad1-b84d-4815-a84a-1261cd23b543.png)

[2022-01-08 09:37] mcdado commented on #100
We don't use `moment.defineLocale()` in `moment-business-days`, are you sure you're not using it in your own code or maybe it is present in another moment plugin that you're loading?

[2022-04-12 20:39] carelulu-igor commented on #22
Awesome job @billforward-alex, thank you!

[2022-04-13 12:25] mcdado commented on #99
@kalmecak I just added the Github action. You need to add a repository secret called NPM_TOKEN as explained above.

[2022-04-29 13:25] tdrabikdev opened #102 "Get all selected dates excluding holidays"
Hello guys is any change to get all dates excluding holidays?

I want to store each date in database. But how get list of all dates?

[2022-04-29 13:47] #102 closed

[2022-05-12 11:43] elupanov commented on #99
It would be great if you release a new version with forced business days feature. Thanks!

[2022-07-18 18:42] mcdado commented on #99
@kalmecak please, can you provide the NPM token to the project?

[2022-07-23 07:09] GaborTorma commented on #99
Temporary solution, install directly from git:

`npm install --save https://github.com/kalmecak/moment-business-days.git`

[2022-09-13 19:55] #85 closed

[2022-10-09 10:52] GaborTorma commented on #99
I created a published fork with updated dependecies: https://github.com/GaborTorma/moment-working-days

[2022-10-09 10:52] #99 closed

[2022-11-01 03:00] olarotseyi opened #106 "Support for other locales apart from "us""
Hi @kalmecak, I was wondering if this package supports other locales apart from "us" or if I can add other locales myself using the updateLocale method. I will appreciate any guidance and support. Thanks.

[2022-11-09 06:35] GervinFung opened #107 "package(npm-registry): publish `1.3.0`"
Bonjour, have you forgotten to publish latest version on NPM registry? The latest version was 3 years ago - `1.2.0`, it will be really helpful if u guys can publish it, as of right now I am installing this repo of latest commit

[2022-11-09 06:42] mcdado commented on #107
Hello, unfortunately @kalmecak is not responding and he's the only one with access to npm. A workaround is this: https://github.com/kalmecak/moment-business-days/issues/99#issuecomment-1193075966

[2022-11-09 07:02] GervinFung commented on #107
I see, that's what I did but with a specific git commit hash appended at the end of the url, thanks for your quick feedback!

[2022-11-09 07:26] GervinFung commented on #99
Or it can be done by doing
[code]
to install a specific version, rather than default to main/master branch which can introduce breaking changes

[2022-11-09 07:28] #107 closed